<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.hidden_field :sender_id, :value => @current_squad.id %>
    <%= f.association :receiver, :collection => @squads, :include_blank => "Todos", :label => 'Para:' %>
    <%= f.input :body, :label => false %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
