<h1>Message Board</h1>

<%= render 'form' %>

<table>
  <tr>
    <th>De:</th>
    <th>Para:</th>
    <th>Mensagem</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.sender.name %></td>
    <% unless message.receiver.nil? %>
      <td><%= message.receiver.name %></td>
    <% else %>
      <td><%= 'Todos' %></td>
    <% end %>
    <td><%= message.body %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Apagar', deleta_message_path(message), :confirm => 'Tem certeza?' %></td>
  </tr>
<% end %>
</table>

<br />


