<script>
document.title = "Menu principal"
</script>
<div class="alert">
  <h3> Alertas </h3>
  <span style=text-decoration:blink>
  <% unless @inactive.empty? || @round.attack? %>
    <li>Há <%= @inactive.count %> fábricas com pontos disponíveis:</li>
    <% @inactive.each do |facility| %>
      <li><%= facility.planet %> :  
      <span style=text-decoration:blink;color:#<%= facility.squad.color %>>
      <%= facility.show %></li>
      </span>
    <% end %>
  <% end %>
  <% if @round.attack? %>
    <li>Revise os resultados de todos os combates</li>
  <% end %>
  </span>
<br>
  <% @all_squads.each do |squad| %>
    <span style=text-decoration:blink;color:#<%= squad.color %>>
      <%= squad.name + " pronto  " if squad.ready? %>
      <br>
    </span>
  <% end %>

<div align=right><a href="/users/sign_out"> Logout </a></div>
</div>





