
<info class="tooltip">
<tip><%= raw fleet.description %></tip>
<span style="<%= raw fleet.span_style %>">
	<% if fleet.squad == @squad && !@squad.ready? && !@round.attack? %>
	  <b href = "" onclick="window.open('/capital_ships/<%= fleet.id %>/edit', 'Capital Ship <%= fleet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=600')"><%= fleet.show %></b>
	<% else %>
	  <%= fleet.show %>
	<% end %>
</span>
</info>

<% unless fleet.cargo.empty? %>
  <% fleet.cargo.each do |cargo| %>
    <br>
    <span style="<%= raw cargo.span_style %>">
     + <%= cargo.show %>
    </span>
  <% end %>
<% end %>
