<info class="tooltip">
<tip><%= raw fleet.description %></tip>
<span style="<%= raw fleet.span_style %>">
	<% if @round.move && fleet.squad == @squad && !fleet.squad.ready? %>
	  <b href = "" onclick="window.open('/facility_fleets/<%= fleet.id %>/edit', 'Facility <%= fleet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=550, height=360')"><%= fleet.show %></b>
	<% else %>
		  <%= fleet.show %>
	<% end %>
</span>
</info>

