<info class="tooltip">
<tip><%= raw fleet.description %></tip>
<span style="<%= raw fleet.span_style %>">
<%= fleet.show %>
</span>
</info>
<% if fleet.squad == @squad && !@squad.ready? && !@round.attack? %>
  <a href = "" onclick="window.open('/fighters/<%= fleet.id %>/edit', 'Fighter <%= fleet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=450')">+</a>
<% end %>
