<info class="tooltip">
<tip><%= raw fleet.description %></tip>
<span style="<%= raw fleet.span_style %><%= ';color: #00FFFF' if fleet.moving %>">
	<% if fleet.squad == @squad && !@squad.ready? && !@round.attack? %>
	  <b href = "" onclick="window.open('/light_transports/<%= fleet.id %>/edit', 'Transport <%= fleet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=600')"><%= fleet.show %></b>
	<% else %>
	  <%= fleet.show %>
	<% end %>
</span>
</info>

<% if fleet.moving %>
  <span style="color: #00FFFF">
  <%= ' -> ' + fleet.destination.name %>
  </span>
<% end %> 

<% unless fleet.cargo.empty? %>
  <% fleet.cargo.each do |cargo| %>
    <br>
    &nbsp;&nbsp;&nbsp;
    <span style="<%= raw cargo.span_style %><%= ';color: #00FFFF' if cargo.moving %>">
     + <%= cargo.show %>
    </span>
  <% end %>
<% end %>





