<% @planets.each do |planet| %>

  <div id="gifs" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y %>px;z-index: 10;">
  <b href = "" onclick="window.open('/planets/<%= planet.id %>', 'Planeta <%= planet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=500, height=500')">
  <img src="/images/planets/planeta.png">
  </b>
  </div>

  <div id="nomes" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y - 10 %>px;z-index: 10; white-space: nowrap">
  <%= planet.name %>
  </div>

  <div id="frotas" style="position:absolute; left:<%= planet.x + 70 %>px; top:<%= planet.y + 10 %>px;z-index: 10; white-space: nowrap">
  <% has_fleet = planet.generic_fleets.select { |fleet| fleet.squad == @current_squad } %>
  <% unless has_fleet.empty? %>
        <% planet.generic_fleets.each_with_index do |fleet, index| %>
          <% unless fleet.moving && fleet.squad == @current_squad %>
            <% if @round.move && fleet.squad != @current_squad %>
               <% if fleet.round < @round.number %>
                 <span style="<%= raw fleet.span_style %>">
                 <%= fleet.show %>
                 </span>
               <% end %>
            <% else %>
              <span style="<%= raw fleet.span_style %>">
              <%= fleet.show %>
              </span>
            <% end %>
          <% else %>
            <span style="color: #00FFFF" %>            
            <%= fleet.show + ' -> ' + fleet.destination.name %>
          <% end %>
          <br>
        <% end %>
  <% end %>
  </div>

<% end %>


