<div class="painel1">
  <span style="color:#<%= @current_squad.color %>;font-size: 28px;font-weight: bold">
  <%= @current_squad.name %></span><br>
  <span style="font-size: 20px;
    font-weight: bold">
  Turno: <%= @round.number %> - <%= @round_phase %><br>
</div>
<div class="painel2">  
<span style="color:yellow;font-size: 18px;font-weight: bold">
  Créditos: <%= @current_squad.credits %><br>
</span>
<span style="color:green;font-size: 18px;font-weight: bold">
  + espacial: <%= @air_income %><br>
  + terrestre:  <%= @ground_income %><br>
</span>
<span style="color:red;font-size: 18px;font-weight: bold">
  - fugas: <%= @flee_tax %><br>
</span>
<span style="color:cyan;font-size: 18px;font-weight: bold">
  Próx.turno: <%= @provided %><br>
</span>
</div>
<div class="painel3">
<span style="color:white;font-size: 18px;font-weight: bold">
  Fábricas: <%= @facilities %><br>
  Capital Ships: <%= @capital_ships %><br>
  Caças: <%= @fighters %><br>
  Transportes: <%= @transports %><br>
  Sensores: <%= @sensors %><br>
  Jedi/Sith: <%= @warriors %><br>
  Tropas: <%= @troopers %><br>
</span>
</div>
<div class="painel4" style="width:350px">
<span style=color:#<%= @current_squad.color %>>** Seu objetivo ** ( <%= @current_squad.name %> )
<br>
Objetivo <%= @current_squad.goal.id %>: <%= @current_squad.goal.description %></span>
</div>
<div class="painel5" style="width:230px">
  <span style="color:white;font-size: 14px;font-weight: bold;text-decoration: blink">
  <%= raw @comment1 if @comment1 %><br>
  <%= raw @comment2 if @comment2 %>
</div>
<div class="painel6">
  <a href = "" onclick="window.open('/squads/<%= @current_squad.id %>/goal', 'Objetivos', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=350, height=500')">
  Objetivos
  </a><br><br>
  <a href = "" onclick="window.open('/results/<%= @current_squad.id %>/show_results', 'Combates', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=350, height=500')">
  Combates
  </a><br><br>
  <a href = "" onclick="window.open('https://docs.google.com/spreadsheets/d/1MmlpHv6qHDJqGnv7AmeU0MPzUQeslwk7rGmBln9-2ls/edit?authkey=CL_F9boP&hl=pt_BR#gid=6', 'Unidades', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1600, height=800')">
  Unidades
  </a><br><br>
  <a href = "" onclick="window.open('https://wgbrnavies.wordpress.com/', 'Regras', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1600, height=800')">
  Regras
  </a><br><br>
  <a href = "" onclick="window.open('/squads/<%= @current_squad.id %>/transfer', 'Transferir', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=350, height=200')">
  Transferir
  </a><br><br>
  <a href = "" onclick="window.open('/ready', 'Passar Turno', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=400, height=150')">
  Passar Turno
  </a><br><br>
  <a href = "/users/sign_out">Logout</a><br>

</div>


<% @planets.each do |planet| %>

  <% @round_number = nil %>
  <% @sensor = nil %>
  <% @routes = planet.routes %>
    <% @routes.each do |route| %>
      <% @sensor = route if route.generic_fleets.any? { |fleet| fleet.is_a_sensor? && fleet.squad == @current_squad } %>
    <% end %>

  <div id="gifs" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y %>px;z-index: 10;">
  <b href = "" onclick="window.open('/planets/<%= planet.id %>', 'Planeta <%= planet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=600, height=500')">

  <img src="/images/planets/<%= planet.name.gsub(" ","").downcase %>.png">
  </b>
  </div>

  <div id="nomes" style="position:absolute; left:<%= planet.x + 15 %>px; top:<%= planet.y - 15 %>px;z-index: 10; white-space: nowrap">
<span style="color:white;font-size: 14px;font-weight: bold">
  <%= planet.name %>
</font>
  </div>

  <div id="income planetario" style="position:absolute; left:<%= planet.x + 60 %>px; top:<%= planet.y + 5 %>px;z-index: 10; white-space: nowrap">
<span style="color:grey;font-size: 10px;font-weight: bold">
      <info class="tooltip">
      <tip>Income planetário <%= planet.credits %></tip>
  <%= planet.credits %>
      </info>
</font>
  </div>

  <div id="Controle espacial" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y + 5 %>px;z-index: 10; white-space: nowrap">
<span style="color:yellow;font-size: 10px;font-weight: bold">
      <info class="tooltip">
      <tip>Income espacial</tip>
  <%= "#{planet.air_credits}" if planet.credits_per_turn.present? && planet.credits_per_turn > 0 && !planet.under_attack? && !planet.tradeport? && planet.squad == @current_squad %>
      </info>
</font>
  </div>
  
  <div id="Controle terrestre" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y + 45 %>px;z-index: 10; white-space: nowrap">
<span style="color:yellow;font-size: 10px;font-weight: bold">
      <info class="tooltip">
      <tip>Income Terrestre</tip>
  <%= "#{planet.ground_credits}" if planet.credits_per_turn.present? && planet.credits_per_turn > 0 && !planet.under_attack? && !planet.tradeport?  && planet.ground_squad == @current_squad %>
      </info>
</font>
  </div>

  <% if planet.generic_fleets.any? { |unit| unit.squad == @current_squad && unit.type == 'FacilityFleet' } %>
    <div id="capacidade_construtiva" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y + 70 %>px; white-space: nowrap">
    <% if @round.move && !@current_squad.ready? && planet.constructive_capacity > 0 %>
      <b href = "" onclick="window.open('/facility_fleets/<%= planet.generic_fleets.select { |unit| unit.squad == @current_squad && unit.type == 'FacilityFleet' }.first.id  %>/edit', 'Facility', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=550, height=360')">
    <% end %>
      <info class="tooltip" style="cursor:pointer">
      <tip>Produzir Unidades</tip>
    <img src="/images/planets/shipyard.gif" height="20" width="30">
       </info>
      </b>
    </div>
    <div id="planet balance" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y + 88 %>px;z-index: 15; white-space: nowrap">
    <% if planet.balance > 0 %>
      <span style="color:white;font-size: 12px;font-weight: bold;text-decoration: blink">
    <% else %>
      <span style="color:white;font-size: 12px;font-weight: bold">
    <% end %>
    <%= planet.balance if @round.move %>
    </span>
    </div>
  <% end %>

  <% if planet.able_to_construct?(@current_squad) && planet.generic_fleets.any? { |unit| unit.squad == @current_squad } %>
    <div id="construcao" style="position:absolute; left:<%= planet.x + 40 %>px; top:<%= planet.y + 70 %>px;z-index: 10; white-space: nowrap">
     <% if @round.move && !planet.tradeport? && !@current_squad.ready? && planet.able_to_construct?(@current_squad) %>
       <b href = "" onclick="window.open('/planets/<%= planet.id %>/facility_fleets/new', 'Construir <%= planet.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=400, height=220')">
     <% end %>
    <% if @round.move %>
      <info class="tooltip" style="cursor:pointer">
      <tip>Construir fábrica</tip>
    <img src="/images/planets/construcao.jpg" height="20" width="20">
       </info>
    <% end %>
    </b>
    </div>
  <% end %>

  <% if planet.wormhole? && planet.generic_fleets.any? { |unit| unit.squad == @current_squad } %>
    <div id="wormhole" style="position:absolute; left:<%= planet.x + 40 %>px; top:<%= planet.y - 30 %>px; white-space: nowrap">
        <info class="tooltip">
        <tip>Wormhole para <%=  planet.routes.last %></tip>
    <img src="/images/planets/wormhole.gif" height="50" width="75" >
        </info>
    </div>
  <% end %>

  <div id="frotas" class="map" style="position:absolute; left:<%= planet.x + 70 %>px; top:<%= planet.y + 10 %>px; white-space: nowrap">

  <% if planet.generic_fleets.any? { |unit| unit.squad == @current_squad } %>
        <% planet.generic_fleets.each_with_index do |fleet, index| %>
          <% unless fleet.moving && fleet.squad == @current_squad %>
            <% if @round.move && fleet.squad != @current_squad %>
               <% if fleet.round < @round.number %>
                 <span style="<%= raw fleet.span_style %>">
                 <%= fleet.show %>
                 </span>
               <% end %>
            <% else %>
             <info class="tooltip">
              <tip><%= raw fleet.description %></tip>
              <span style="<%= raw fleet.span_style %>">
              <%= fleet.show %>
              </span>
              </info>
            <% end %>
          <% else %>
            <span style="color: #00FFFF" %>            
            <%= fleet.show + ' -> ' + fleet.destination.name %>
          <% end %>
        <% if @round.attack %>
          <span style=color:#40E0D0> 
          <%= fleet.show_results %>
          </span>
        <% end %>
          <br>
        <% end %>
        

  <% elsif @sensor != nil && @round.move %>
    <% unless planet.generic_fleets.select { |units| units.squad != @current_squad && units.round < @round.number && (units.generic_unit.type == 'CapitalShip' || units.generic_unit.type == 'Facility' || units.generic_unit.type == 'Sensor' || units.generic_unit.type == 'Trooper') }.empty? %>
      <% planet.generic_fleets.select { |units| units.squad != @current_squad && units.round < @round.number && (units.generic_unit.type == 'CapitalShip' || units.generic_unit.type == 'Facility' || units.generic_unit.type == 'Sensor' || units.generic_unit.type == 'Trooper') }.sort_by { |fleet| -fleet.generic_unit.price }.each do |fleet| %>
        <span style="<%= raw fleet.span_style %>">
        <%= fleet.generic_unit.name %>
        </span>
        <br>
      <% end %>
    <% else %>

    <% end %>  
    
    <% resultados = planet.results.reject!{|a| a.generic_unit.type == 'CapitalShip' || a.generic_unit.type == 'Facility' || a.generic_unit.type == 'Sensor' || a.generic_unit.type == 'Trooper'} %>
    <% if resultados %>
      <% resultados.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
      <% if fleet.round.number >= planet.results.maximum("round_id") and fleet.squad != @current_squad and planet.results.any? { |result| result.squad == @current_squad && result.round == fleet.round } %>
        <info class="tooltip">
        <tip><%= raw fleet.description %></tip>
        <span style="<%= raw fleet.span_style %>; opacity: 0.3">
        <% unless fleet.final_quantity <= 0 || fleet.squad == @current_squad %>
          <% @round_number = fleet.round.number %>
          <% case fleet.generic_unit.type %>
          <% when 'Warrior' %> 
            <%= fleet.generic_unit.name %> (<%= fleet.final_quantity %> vidas)
          <% when 'Commander' %>
            <%= fleet.generic_unit.name %>
          <% when 'Facility' %>
            <%= fleet.generic_unit.name %>
          <% when 'CapitalShip' %>
            <%= fleet.show %>
          <% when 'Trooper' %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %> 
          <% else %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %>  
          <% end %>
          <br>
        <% end %>
        </span>
        </info>
      <% end %>
    <% end %>
    <% end %>

    <% if @round_number %>

    <% end %>   

  <% else %>

    <% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
      <% if fleet.round.number >= planet.results.maximum("round_id") and fleet.squad != @current_squad and planet.results.any? { |result| result.squad == @current_squad && result.round == fleet.round } %>
        <info class="tooltip">
        <tip><%= raw fleet.description %></tip>
        <span style="<%= raw fleet.span_style %>; opacity: 0.3">
        <% unless fleet.final_quantity <= 0 || fleet.squad == @current_squad %>
          <% @round_number = fleet.round.number %>
          <% case fleet.generic_unit.type %>
          <% when 'Warrior' %> 
            <%= fleet.generic_unit.name %> (<%= fleet.final_quantity %> vidas)
          <% when 'Commander' %>
            <%= fleet.generic_unit.name %>
          <% when 'Facility' %>
            <%= fleet.generic_unit.name %>
          <% when 'CapitalShip' %>
            <%= fleet.show %>
          <% when 'Trooper' %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %> 
          <% else %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %>  
          <% end %>
          <br>
        <% end %>
        </span>
        </info>
      <% end %>
    <% end %>
    <% if @round_number %>

    <% end %>  

  <% end %>
  </div>
<% end %>

