<% @planets.each do |planet| %>

  <% @round_number = nil %>
  <% @sensor = nil %>
  <% @routes = planet.routes %>
    <% @routes.each do |route| %>
      <% @sensor = route if route.generic_fleets.any? { |fleet| fleet.is_a_sensor? && fleet.squad == @current_squad } %>
    <% end %>

  <div id="gifs" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y %>px;z-index: 10;">
  <b href = "" onclick="window.open('/planets/<%= planet.id %>', 'Planeta <%= planet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=500, height=500')">
  <img src="/images/planets/planeta.png">
  </b>
  </div>

  <div id="nomes" style="position:absolute; left:<%= planet.x %>px; top:<%= planet.y - 10 %>px;z-index: 10; white-space: nowrap">
  <%= planet.name %>
  </div>

  <div id="frotas" style="position:absolute; left:<%= planet.x + 70 %>px; top:<%= planet.y + 10 %>px;z-index: 10; white-space: nowrap">
  <% has_fleet = planet.generic_fleets.select { |fleet| fleet.squad == @current_squad } %>
  <% if planet.generic_fleets.any? { |unit| unit.squad == @current_squad } %>
        <% planet.generic_fleets.each_with_index do |fleet, index| %>
          <% unless fleet.moving && fleet.squad == @current_squad %>
            <% if @round.move && fleet.squad != @current_squad %>
               <% if fleet.round < @round.number %>
                 <span style="<%= raw fleet.span_style %>">
                 <%= fleet.show %>
                 </span>
               <% end %>
            <% else %>
              <span style="<%= raw fleet.span_style %>">
              <%= fleet.show %>
              </span>
            <% end %>
          <% else %>
            <span style="color: #00FFFF" %>            
            <%= fleet.show + ' -> ' + fleet.destination.name %>
          <% end %>
          <br>
        <% end %>
  <% elsif @sensor != nil && @round.move %>
    <% unless planet.generic_fleets.select { |units| units.squad != @current_squad && units.round < @round.number && (units.generic_unit.type == 'CapitalShip' || units.generic_unit.type == 'Facility' || units.generic_unit.type == 'Sensor' || units.generic_unit.type == 'Trooper') }.empty? %>
      O Sensor de <%= @sensor.name %> detectou as seguintes ameaças:<br>
      <% planet.generic_fleets.select { |units| units.squad != @current_squad && units.round < @round.number && (units.generic_unit.type == 'CapitalShip' || units.generic_unit.type == 'Facility' || units.generic_unit.type == 'Sensor' || units.generic_unit.type == 'Trooper') }.sort_by { |fleet| -fleet.generic_unit.price }.each do |fleet| %>
        <span style="<%= raw fleet.span_style %>">
        <%= fleet.generic_unit.name %>
        </span>
        <br>
      <% end %>
    <% else %>
      O Sensor de <%= @sensor.name %> não detectou ameaças neste planeta.<br><br>
    <% end %>  
    
    <% resultados = planet.results.reject!{|a| a.generic_unit.type == 'CapitalShip' || a.generic_unit.type == 'Facility' || a.generic_unit.type == 'Sensor' || a.generic_unit.type == 'Trooper'} %>
    <% if resultados %>
      <% resultados.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
      <% unless fleet.round.number >= planet.results.maximum("round_id") and fleet.squad != @squad and planet.results.any? { |result| result.squad == @squad && result.round == fleet.round } %>
        <info class="tooltip">
        <tip><%= raw fleet.description %></tip>
        <span style="<%= raw fleet.span_style %>">
        <% unless fleet.final_quantity <= 0 || fleet.squad == @current_squad %>
          <% @round_number = fleet.round.number %>
          <% case fleet.generic_unit.type %>
          <% when 'Warrior' %> 
            <%= fleet.generic_unit.name %> (<%= fleet.final_quantity %> vidas)
          <% when 'Commander' %>
            <%= fleet.generic_unit.name %>
          <% when 'Facility' %>
            <%= fleet.generic_unit.name %>
          <% when 'CapitalShip' %>
            <%= fleet.show %>
          <% when 'Trooper' %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %> 
          <% else %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %>  
          <% end %>
          <br>
        <% end %>
        </span>
        </info>
      <% end %>
    <% end %>
    <% end %>

    <% if @round_number %>
    <br>
    Esta foi a frota vista neste planeta no Round: <%= @round_number %>
    <br><br>
    <% end %>   



  <% else %>

    <% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
      <% unless fleet.round.number >= planet.results.maximum("round_id") and fleet.squad != @squad and planet.results.any? { |result| result.squad == @squad && result.round == fleet.round } %>
        <info class="tooltip">
        <tip><%= raw fleet.description %></tip>
        <span style="<%= raw fleet.span_style %>">
        <% unless fleet.final_quantity <= 0 || fleet.squad == @current_squad %>
          <% @round_number = fleet.round.number %>
          <% case fleet.generic_unit.type %>
          <% when 'Warrior' %> 
            <%= fleet.generic_unit.name %> (<%= fleet.final_quantity %> vidas)
          <% when 'Commander' %>
            <%= fleet.generic_unit.name %>
          <% when 'Facility' %>
            <%= fleet.generic_unit.name %>
          <% when 'CapitalShip' %>
            <%= fleet.show %>
          <% when 'Trooper' %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %> 
          <% else %>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %>  
          <% end %>
          <br>
        <% end %>
        </span>
        </info>
      <% end %>
    <% end %>
    <% if @round_number %>
    <br>
    XXXEsta foi a frota vista neste planeta no Round: <%= @round_number %>
    <br><br>
    <% end %>  

  <% end %>
  </div>
<% end %>


