<script>
</script>

<%= render :partial => 'sectors' %>

<div class="new_menu">
  <table>
    <tr>
      <td style="vertical-align:top">
        <info class="tooltip">
        <tip>Config do Sistema</tip>
        <b href = "" onclick="window.open('/squads/<%= @squad.id %>/edit', 'Config Squad', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=350, height=280')">
        <img src="/images/<%= @squad.faction %>.png" height="50" width="50"></b>
        </info>
      </td>
      <td style="vertical-align:middle">
        <span style="color:#<%= @squad.color %>;font-size: 24px;font-weight: bold">
          <%= @squad.name %>
        </span>
      </td>
      <td style="vertical-align:middle">
        <span style="font-size: 16px; font-weight: bold">
          Turno: <%= @round.number %><br><%= @round_phase %><br>
        </span>
        <span style="color:white;font-size: 12px;font-weight: bold;text-decoration: blink">
          <% if @comment1 %>
            <%= raw @comment1 %>
          <% end %>
          <% if @comment2 %>
            <br>
            <%= raw @comment2 %>
          <% end %>
        </span>
      </td>      
      <td style="vertical-align:top">
        <info class="tooltip">
        <tip>Transferir Créditos</tip>
        <b href = "" onclick="window.open('/squads/<%= @squad.id %>/transfer', 'Transferir $', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=350, height=200')"><img src="/images/coin_stack.png" height="42" width="42"></b>
        </info>
      </td>
      <td style="vertical-align:top">
        <span style="color:yellow;font-size: 15px;font-weight: bold">
          <%= @squad.credits %><br>
        </span>
        <span style="color:yellow;font-size: 10px;font-weight: bold">
          + <%= @air_income %><br>
        </span>
        <span style="color:red;font-size: 10px;font-weight: bold">
          - <%= @flee_tax %>
        </span>
      </td>
      <td style="vertical-align:top">
        <info class="tooltip">
        <tip>Specs das Naves</tip>
        <b href = "" onclick="window.open('https://docs.google.com/spreadsheets/d/1MmlpHv6qHDJqGnv7AmeU0MPzUQeslwk7rGmBln9-2ls/edit?authkey=CL_F9boP&hl=pt_BR#gid=1177609294', 'Specs Naves', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1600, height=800')"><img src="/images/specs.png" height="55" width="55"></b>
        </info>
      </td>
      <td style="vertical-align:middle">
        <a href = "" onclick="window.open('https://wgbrnavies.wordpress.com/', 'Blog do GW', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1600, height=800')">Blog do GW</a>
      </td>
      <td style="vertical-align:top">
        <info class="tooltip">
        <tip>Combates</tip>
        <b href = "" onclick="window.open('/results/<%= @squad.id %>/show_results', 'Combates', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=350, height=500')"><img src="/images/xvt.png" height="55" width="65"></b>
        </info>
      </td>
      <td style="vertical-align:middle">
        <%= link_to "Passar Turno","/ready" %>
      </td>
      <td style="vertical-align:middle">
        <span style="font-size: 10px;font-weight: bold;word-wrap: break-word;color:#<%= @squad.color %>">
<b href = "" onclick="window.open('/squads/<%= @squad.id %>/goal', 'Objetivos', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=500, height=450')">
  Objetivo <%= @squad.goal.id %>: <%= @squad.goal.description %></span></b>
      </td>
      <td style="vertical-align:middle">
        <a href="/users/sign_out">Logout</a>
      </td>
    </tr>
  </table>
</div>


<div class="painel_units">
  <span style="color:white;font-size: 14px;font-weight: bold">
    Facilities: <%= @facilities %><br>
    CapitalShips: <%= @capital_ships %><br>
    Fighters: <%= @fighters %><br>
    Transports: <%= @transports %><br>
    Jedi/Sith: <%= @warriors %><br>
    Troopers: <%= @troopers %><br>
  </span>
</div>

<% @planets.each do |planet| %>

  <% @round_number = nil %>
  <% @sensor = nil %>
  <% @routes = planet.routes %>
    <% @routes.each do |route| %>
      <% @sensor = route if route.generic_fleets.any? { |fleet| fleet.is_a_sensor? && fleet.squad == @squad } %>
    <% end %>
  <% @influence = planet.count_fleet(@squad) %>
  <% @credits_per_turn = planet.credits_per_turn(@squad) %>

  <div id="gifs" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio %>px;z-index: 5;">
    <b href = "" onclick="window.open('/planets/<%= planet.id %>', '<%= planet.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=560, height=400')">
      <img src="/images/planets/<%= planet.name.gsub(" ","").downcase %>.png">
    </b>
  </div>

  <div id="nomes" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio + 15 %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio - 15 %>px;z-index: 15; white-space: nowrap">
<span style="color:white;font-size: 14px;font-weight: bold">
  <%= planet.name %>
</span>
  </div>

  <div id="income planetario" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio + 60 %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio + 5 %>px;z-index: 15; white-space: nowrap">
<span style="color:gray; font-size: 10px; font-weight: bold">
      <info class="tooltip">
      <tip>Income planetário máximo</tip>
      <%= planet.credits %>
      </info>
</span>
  </div>

  <div id="Controle espacial" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio + 5 %>px;z-index: 15; white-space: nowrap">
<span style="color:yellow;font-size: 10px;font-weight: bold">
      <info class="tooltip">
      <tip>Income do squad<br>
      Influência: <%= "#{@influence}" %> / <%= "#{@setting.presence_to_influence}" %></tip>
  <%= "+#{@credits_per_turn}" if @credits_per_turn > 0 && planet.squads.include?(@squad) && !planet.tradeport? %>
      </info>
</span>
  </div>

  <% if planet.generic_fleets.any? { |unit| unit.squad == @squad && unit.type == 'FacilityFleet' } %>
    <div id="capacidade_construtiva" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio + 60 %>px; white-space: nowrap">
      <info class="tooltip" style="cursor:pointer">
      <tip>Produzir Unidades</tip>
    <% if @round.move && !@squad.ready? && planet.constructive_capacity > 0 %>
      <b href = "" onclick="window.open('/facility_fleets/<%= planet.generic_fleets.select { |unit| unit.squad == @squad && unit.type == 'FacilityFleet' }.first.id  %>/edit', 'Facility', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=550, height=360')">
    <% end %>
    <% if @round.move %>
      <img src="/images/planets/shipyard.gif" height="30" width="40">
    <% end %>
      </b>
      </info>
    </div>
    <div id="planet balance" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio + 5 %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio + 92 %>px;z-index: 15; white-space: nowrap">
    <% if planet.balance > 0 %>
      <span style="color:white;font-size: 11px;font-weight: bold;text-decoration: blink">
    <% else %>
      <span style="color:white;font-size: 11px;font-weight: bold">
    <% end %>
    <info class="tooltip" style="cursor:pointer">
    <tip>Capacidade produtiva: <%= planet.balance %></tip>
    <%= planet.balance if @round.move %>
    </info>
    </span>
    </div>
  <% end %>

  <% if planet.able_to_construct?(@squad) && planet.generic_fleets.any? { |unit| unit.squad == @squad } %>
    <div id="construcao" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio + 45 %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio + 60 %>px;z-index: 15; white-space: nowrap">
      <info class="tooltip" style="cursor:pointer">
      <tip>Construir fábrica/unidades</tip>
     <% if @round.move && !planet.tradeport? && !@squad.ready? && planet.able_to_construct?(@squad) %>
       <b href = "" onclick="window.open('/planets/<%= planet.id %>/facility_fleets/new', 'Construir <%= planet.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=400, height=220')">
     <% end %>
    <% if @round.move %>
      <img src="/images/planets/construcao.jpg" height="22" width="22">
    <% end %>
      </b>
      </info>
    </div>
  <% end %>

  <% if planet.wormhole? && planet.generic_fleets.any? { |unit| unit.squad == @squad } %>
    <div id="wormhole" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio + 40 %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio - 30 %>px; white-space: nowrap">
        <info class="tooltip">
        <tip>Wormhole para <%=  planet.routes.last %></tip>
    <img src="/images/planets/wormhole.gif" height="50" width="75" >
        </info>
    </div>
  <% end %>

  <div id="frotas" class="map" style="position:absolute; left:<%= ( planet.x + @map_x_adjust ) * @map_ratio + 60 %>px; top:<%= ( planet.y + @map_y_adjust ) * @map_ratio + 10 %>px; white-space: nowrap">

  <% if @round.move %>
    <% your_fleets = planet.generic_fleets.where(:squad => @squad) %>
    <% last_fleet_type = [] %>
      <% unless your_fleets.empty? %>
        <% your_fleets.each_with_index do |fleet, index| %>
          <% if last_fleet_type != fleet.generic_unit.type && last_fleet_type != [] %>
            <% #caso queiramos pular linhas em cada tipo de nave diferente %>
          <% end %>

          <% unless fleet.moving %>
            <% case fleet.generic_unit.type %>
              <% when 'Facility' %>
                <%= render :partial => 'facilities', :locals => { :fleet => fleet } %>
              <% when 'CapitalShip' %>
                <%= render :partial => 'capital_ships', :locals => { :fleet => fleet } %>
              <% when 'Warrior' %>
                <%= render :partial => 'warriors', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
              <% when 'Commander' %>
                <%= render :partial => 'commanders', :locals => { :fleet => fleet } if fleet.carried_by == nil  %>
              <% when 'Trooper' %>
                <%= render :partial => 'troopers', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
              <% when 'Armament' %>
                <%= render :partial => 'armaments', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
              <% when 'Skill' %>
                <%= render :partial => 'skills', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
              <% when 'LightTransport' %>
                <%= render :partial => 'light_transports', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
              <% when 'Fighter' %>
                <%= render :partial => 'fighters', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
              <% when 'Sensor' %>
                <%= render :partial => 'sensors', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
              <% else %>
                <%= render :partial => 'fleets', :locals => { :fleet => fleet } if fleet.carried_by == nil %>
            <% end %>
          <% else %>
            <span style="color: #00FFFF" %>
            <%= fleet.show + ' -> ' + fleet.destination.name %>
          <% end %>
          <% last_fleet_type = fleet.generic_unit.type %>
          <% if fleet.carried_by == nil %>
            <br>
          <% end %>
          
        <% end %>

        <% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
          <% if fleet.round.number == @round.number - 1 && fleet.squad != @squad && planet.results.any? { |result| result.squad == @squad && result.round == fleet.round } %>
            <info class="tooltip">
            <tip><%= raw fleet.description %></tip>
            <% unless fleet.final_quantity <= 0 && fleet.captor == nil %>
              <span style="<%= raw fleet.span_style %>; opacity: 0.3">
              <%= fleet.show_fog %>
              </span>
              <br>
            <% end %>
            </info>
          <% end %>
        <% end %>

      <% else %>

        <% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
          <% if fleet.round.number >= planet.results.maximum("round_id") && fleet.squad != @squad && planet.results.any? { |result| result.squad == @squad && result.round == fleet.round } %>
            <info class="tooltip">
            <tip><%= raw fleet.description %></tip>
            <% unless fleet.final_quantity <= 0 && fleet.captor == nil %>
              <span style="<%= raw fleet.span_style %>; opacity: 0.3">
              <%= fleet.show_fog %>
              </span>
              <br>
            <% end %>
            </info>
          <% end %>
        <% end %>

      <% end %>


      <% if @sensor %>
        <% planet.generic_fleets.where('squad_id != ?', @squad.id).each do |fleet| %>
          <% if ( fleet.type?(CapitalShip) || fleet.type?(Facility) || fleet.type?(Trooper) ) && fleet.round < @round.number %>
            <span style="<%= raw fleet.span_style %>">
              <%= fleet.generic_unit.name %>
            </span>
            <br>
          <% end %>
        <% end %>
      <% end %>


  <% else %>


    <% if planet.generic_fleets.any? { |unit| unit.squad == @squad } %>
      <% planet.generic_fleets.each_with_index do |fleet, index| %>
        <info class="tooltip">
        <tip><%= raw fleet.description %></tip>
        <span style="<%= raw fleet.span_style %>">
          <%= fleet.show %>
        </span>
        <span style=color:#40E0D0>
          <%= fleet.show_results %>
        </span>
        </info>
        <br>
      <% end %>
    <% end %>

  <% end %>

  </div>
<% end %>
