<script>
</script>

<%= render :partial => 'sectors' %>

<div class="painel_turno">
  <span style="color:#<%= @squad.color %>;font-size: 23px;font-weight: bold">
    <%= @squad.name %>
  </span>
  <br>
  <span style="font-size: 16px; font-weight: bold">
    Turno: <%= @round.number %> - <%= @round_phase %><br>
  </span>
</div>
<div class="painel_credits">
  <table style="width: 1%; white-space:nowrap;">
    <tr>
      <td style="vertical-align:top"><img src="/images/coin_stack.png" height="42" width="42"></td>
      <td>
        <span style="color:green;font-size: 18px;font-weight: bold">
          <%= @squad.credits %><br>
        </span>
        <span style="color:yellow;font-size: 12px;font-weight: bold">
          + <%= @air_income %><br>
        </span>
        <span style="color:red;font-size: 12px;font-weight: bold">
          - <%= @flee_tax %>
        </span>
      </td>
    </tr>
  </table>
</div>
<div class="painel_unitys">
  <span style="color:white;font-size: 14px;font-weight: bold">
    Facilities: <%= @facilities %><br>
    CapitalShips: <%= @capital_ships %><br>
    Fighters: <%= @fighters %><br>
    Transports: <%= @transports %><br>
    Jedi/Sith: <%= @warriors %><br>
    Troopers: <%= @troopers %><br>
  </span>
</div>
<div class="painel_goals">
<span style="font-size: 10px;color:#<%= @squad.color %>">** Seu objetivo ** ( <%= @squad.name %> )
<br>
Objetivo <%= @squad.goal.id %>: <%= @squad.goal.description %></span>
</div>
<div class="painel_comments" style="width:200px">
  <span style="color:white;font-size: 14px;font-weight: bold;text-decoration: blink">
  <%= raw @comment1 if @comment1 %><br>
  <%= raw @comment2 if @comment2 %>
</div>
<div class="painel_links">
  <a href = "" onclick="window.open('/squads/<%= @squad.id %>/goal', 'Objetivos', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=450, height=500')">
  Objetivos
  </a><br><br>
  <a href = "" onclick="window.open('/results/<%= @squad.id %>/show_results', 'Combates', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=350, height=500')">
  Combates
  </a><br><br>
  <a href = "" onclick="window.open('https://docs.google.com/spreadsheets/d/1MmlpHv6qHDJqGnv7AmeU0MPzUQeslwk7rGmBln9-2ls/edit?authkey=CL_F9boP&hl=pt_BR#gid=1177609294', 'Specs Naves', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1600, height=800')">
  Specs Naves
  </a><br><br>
  <a href = "" onclick="window.open('https://wgbrnavies.wordpress.com/', 'Blog do GW', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1600, height=800')">
  Blog do XWSG
  </a><br><br>
  <a href = "" onclick="window.open('/squads/<%= @squad.id %>/edit', 'Config Squad', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=350, height=280')">
  Config Squad
  </a><br><br>
  <a href = "" onclick="window.open('/squads/<%= @squad.id %>/transfer', 'Transferir $', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=350, height=200')">
  Transferir $
  </a><br><br>
  <a href = "" onclick="window.open('/ready', 'Passar Turno', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=400, height=150')">
  Passar Turno
  </a><br><br>
  <a href = "/users/sign_out">Logout</a><br>

</div>

<% @planets.each do |planet| %>

  <% @round_number = nil %>
  <% @sensor = nil %>
  <% @routes = planet.routes %>
    <% @routes.each do |route| %>
      <% @sensor = route if route.generic_fleets.any? { |fleet| fleet.is_a_sensor? && fleet.squad == @squad } %>
    <% end %>

  <div id="gifs" style="position:absolute; left:<%= planet.x * @map_ratio %>px; top:<%= planet.y * @map_ratio %>px;z-index: 5;">
    <b href = "" onclick="window.open('/planets/<%= planet.id %>', '<%= planet.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=600, height=350')">
      <img src="/images/planets/<%= planet.name.gsub(" ","").downcase %>.png">
    </b>
  </div>

  <div id="nomes" style="position:absolute; left:<%= planet.x * @map_ratio + 15 %>px; top:<%= planet.y * @map_ratio - 15 %>px;z-index: 15; white-space: nowrap">
<span style="color:white;font-size: 14px;font-weight: bold">
  <%= planet.name %>
</font>
  </div>

  <div id="income planetario" style="position:absolute; left:<%= planet.x * @map_ratio + 60 %>px; top:<%= planet.y * @map_ratio + 5 %>px;z-index: 15; white-space: nowrap">
<span style="color:gray; font-size: 10px; font-weight: bold">
      <info class="tooltip">
      <tip>Income planetário <%= planet.credits %></tip>
      <%= planet.credits %>
      </info>
</font>
  </div>

  <div id="Controle espacial" style="position:absolute; left:<%= planet.x * @map_ratio %>px; top:<%= planet.y * @map_ratio + 5 %>px;z-index: 15; white-space: nowrap">
<span style="color:yellow;font-size: 10px;font-weight: bold">
      <info class="tooltip">
      <tip>Income do squad</tip>
  <%= "+#{planet.credits_per_turn(@squad)}" if planet.credits_per_turn(@squad) > 0 && planet.squads.include?(@squad) && !planet.tradeport? %>
      </info>
</font>
  </div>
  
    <div id="Presenca" style="position:absolute; left:<%= planet.x * @map_ratio %>px; top:<%= planet.y * @map_ratio + 50 %>px;z-index: 15; white-space: nowrap">
<span style="color:#<%= @squad.color %>;font-size: 8px;font-weight: bold">
      <info class="tooltip">
      <tip>Presença militar</tip>
  <%= "#{planet.count_fleet(@squad)}" if planet.credits_per_turn(@squad) > 0 && planet.squads.include?(@squad) && !planet.tradeport? %>
      </info>
</font>
  </div>

  <% if planet.generic_fleets.any? { |unit| unit.squad == @squad && unit.type == 'FacilityFleet' } %>
    <div id="capacidade_construtiva" style="position:absolute; left:<%= planet.x * @map_ratio %>px; top:<%= planet.y * @map_ratio + 60 %>px; white-space: nowrap">
    <% if @round.move && !@squad.ready? && planet.constructive_capacity > 0 %>
      <b href = "" onclick="window.open('/facility_fleets/<%= planet.generic_fleets.select { |unit| unit.squad == @squad && unit.type == 'FacilityFleet' }.first.id  %>/edit', 'Facility', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=550, height=360')">
    <% end %>
    <% if @round.move %>
      <info class="tooltip" style="cursor:pointer">
      <tip>Produzir Unidades</tip>
    <img src="/images/planets/shipyard.gif" height="30" width="40">
       </info>
    <% end %>
      </b>
    </div>
    <div id="planet balance" style="position:absolute; left:<%= planet.x * @map_ratio + 5 %>px; top:<%= planet.y * @map_ratio + 98 %>px;z-index: 15; white-space: nowrap">
    <% if planet.balance > 0 %>
      <span style="color:white;font-size: 11px;font-weight: bold;text-decoration: blink">
    <% else %>
      <span style="color:white;font-size: 11px;font-weight: bold">
    <% end %>
    <%= planet.balance if @round.move %>
    </span>
    </div>
  <% end %>

  <% if planet.able_to_construct?(@squad) && planet.generic_fleets.any? { |unit| unit.squad == @squad } %>
    <div id="construcao" style="position:absolute; left:<%= planet.x * @map_ratio + 45 %>px; top:<%= planet.y * @map_ratio + 60 %>px;z-index: 15; white-space: nowrap">
     <% if @round.move && !planet.tradeport? && !@squad.ready? && planet.able_to_construct?(@squad) %>
       <b href = "" onclick="window.open('/planets/<%= planet.id %>/facility_fleets/new', 'Construir <%= planet.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=400, height=220')">
     <% end %>
    <% if @round.move %>
      <info class="tooltip" style="cursor:pointer">
      <tip>Construir fábrica</tip>
    <img src="/images/planets/construcao.jpg" height="22" width="22">
       </info>
    <% end %>
    </b>
    </div>
  <% end %>

  <% if planet.wormhole? && planet.generic_fleets.any? { |unit| unit.squad == @squad } %>
    <div id="wormhole" style="position:absolute; left:<%= planet.x * @map_ratio + 40 %>px; top:<%= planet.y * @map_ratio - 30 %>px; white-space: nowrap">
        <info class="tooltip">
        <tip>Wormhole para <%=  planet.routes.last %></tip>
    <img src="/images/planets/wormhole.gif" height="50" width="75" >
        </info>
    </div>
  <% end %>

  <div id="frotas" class="map" style="position:absolute; left:<%= planet.x * @map_ratio + 60 %>px; top:<%= planet.y * @map_ratio + 10 %>px; white-space: nowrap">

  <% if @round.move %>
    <% your_fleets = planet.generic_fleets.where(:squad => @squad) %>
      <% unless your_fleets.empty? %>
        <% your_fleets.each_with_index do |fleet, index| %>
          <% unless fleet.moving %>
            <info class="tooltip">
            <tip><%= raw fleet.description %></tip>
            <span style="<%= raw fleet.span_style %>">
            <%= fleet.show %>
            </span>
            </info>
          <% else %>
            <span style="color: #00FFFF" %>
            <%= fleet.show + ' -> ' + fleet.destination.name %>
          <% end %>
          <br>
        <% end %>

        <% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
          <% if fleet.round.number == @round.number - 1 && fleet.squad != @squad && planet.results.any? { |result| result.squad == @squad && result.round == fleet.round } %>
            <info class="tooltip">
            <tip><%= raw fleet.description %></tip>
            <% unless fleet.final_quantity <= 0 || fleet.squad == @squad %>
              <span style="<%= raw fleet.span_style %>; opacity: 0.3">
              <%= fleet.show %>
              </span>
              <br>
            <% end %>
            </info>
          <% end %>
        <% end %>

      <% else %>

        <% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
          <% if fleet.round.number >= planet.results.maximum("round_id") && fleet.squad != @squad && planet.results.any? { |result| result.squad == @squad && result.round == fleet.round } %>
            <info class="tooltip">
            <tip><%= raw fleet.description %></tip>
            <% unless fleet.final_quantity <= 0 %>
              <span style="<%= raw fleet.span_style %>; opacity: 0.3">
              <%= fleet.show %>
              </span>
              <br>
            <% end %>
            </info>
          <% end %>
        <% end %>

      <% end %>
      
              
        <% if @sensor %>
          <% planet.generic_fleets.where('squad_id != ?', @squad.id).each do |fleet| %>
            <% if ( fleet.type?(CapitalShip) || fleet.type?(Facility) || fleet.type?(Trooper) ) && fleet.round < @round.number %>
              <span style="<%= raw fleet.span_style %>">
                <%= fleet.generic_unit.name %>
              </span>
              <br>
            <% end %>
          <% end %>  
        <% end %>
        
        


  <% else %>


    <% if planet.generic_fleets.any? { |unit| unit.squad == @squad } %>
      <% planet.generic_fleets.each_with_index do |fleet, index| %>
        <info class="tooltip">
        <tip><%= raw fleet.description %></tip>
        <span style="<%= raw fleet.span_style %>">
          <%= fleet.show %>
        </span>
        <span style=color:#40E0D0>
          <%= fleet.show_results %>
        </span>
        </info>
        <br>
      <% end %>
    <% end %>

  <% end %>

  </div>
<% end %>
