<svg xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" width="100%"
     onresize="resize(evt)">
  <script type="text/ecmascript"><![CDATA[
    function resize(evt){
      var background = document.getElementById('background');
      background.setAttribute("width", "100%");
      background.setAttribute("height", "100%");
    }
    ]]></script>
  <defs>
    <filter id="f1" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceAlpha" dx="0" dy="0" />
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="2" />
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>
  </defs>
  <g>
    <image id="background" xlink:href="/images/background-azul.jpg" height="100%" width="100%" x="0" y="0"
           preserveAspectRatio="none" />
    <% @planets.each do |planet| %>
      <% coord_x = planet.coord_x.to_i * 7 %>
      <% coord_y = planet.coord_y.to_i * 17 %>
      <text x="<%= coord_x + 2 %>%" y="<%= coord_y %>%" style="fill:white; font-size:15px; font-weight: bold; font-family:'Open Sans'" filter="url(#f1)"> <%= planet.name %> </text>
      <a xlink:href = "" onclick="window.open('/planets/<%= planet.id %>', '<%= planet.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=560, height=400')"> <image xlink:href="/images/<%= planet.file_name %>" x="<%= coord_x %>%" y="<%= coord_y %>%" height="7%" width="7%" filter="url(#f1)" /> </a>
      <% y = coord_y %>
      <% planet.seen_by(@current_squad).each do |fleet| %>
        <% x = coord_x + 5 %>
        <% y += 1 %>
        <text x="<%= x %>%" y="<%= y %>%" fill="#<%= fleet.squad.color %>" style="font-weight:bold; font-size:11px; font-family:'Open Sans'" filter="url(#f1)"> <%= fleet.show %> </text>
      <% end %>


    <% end %>

  </g>
</svg>
