<% content_for :for_head do %>
  <script>
  document.title = " Setup do GW "
  </script>
<% end %>
<div class="fleet">
<h2> Setup do GW </h2>
</div>

<%= simple_form_for @settings do |f| %>
<table>
<tr>
<td width=100>
<div class="fleet">
<h3>Fábricas</h3>
<%= f.input :facility_primary_production_rate, :label => 'Produtividade: %', :collection => (10..100).step(5) %>
<%= f.input :facility_upgrade_cost, :label => 'Upgrade - Custo:', :collection => (1000..2000).step(200) %>
<%= f.input :facility_upgrade_rate, :label => 'Upgrade de Produção:', :collection => (100..600).step(100) %>
<%= f.input :maximum_facilities, :label => 'Qtde máxima por planeta:', :collection => (1..4) %>
<%= f.input :builder_unit, :label => 'Unidade construtora:', :collection => @units %>
<%= f.input :minimum_quantity, :label => 'Qtde minima p/ construir:', :collection => (1..500) %>
<%= f.input :minimum_presence_to_construct, :label => 'Presença minima p/ construir: %', :collection => (10..100).step(10) %>

<br>
Exemplos:<br>
<b>Shipyard - Custo 3600</b><br>
Produtividade: <%= 3600 / 100 * @settings.facility_primary_production_rate %> ( %<%= @settings.facility_primary_production_rate %> )<br>
<b>Industrial Complex - Custo 1200</b><br>
Produtividade: <%= 1200 / 100 * @settings.facility_primary_production_rate %> ( %<%= @settings.facility_primary_production_rate %> )<br>
</div>
</td>
<td width=100>
<div class="fleet">
<h3>Random Inicial - Quantidades</h3>
<%= f.input :initial_credits, :label => 'Créditos: ', :collection => (0..2000).step(200) %>
<%= f.input :initial_planets, :label => 'Planetas (além do Home Planet): ', :collection => (0..5) %>
<%= f.input :initial_factories, :label => 'Fábricas ($): ', :collection => (1200..3601).step(600) %>
<%= f.input :initial_capital_ships, :label => 'Capital Ships ($): ', :collection => (0..3000).step(100) %>
<%= f.input :initial_fighters, :label => 'Caças x 2 ($): ', :collection => (0..3000).step(100) %>
<%= f.input :initial_transports, :label => 'Transportes ($): ', :collection => (0..3000).step(100) %>
<%= f.input :initial_troopers, :label => 'Troopers ($): ', :collection => (0..3000).step(100) %>
</div>
<td width=100>
<div class="fleet">
<h3>Planetas</h3>
<%= f.input :net_planet_income, :label => 'Income normal:', :collection => (100..1000).step(100) %>
<%= f.input :bonus_planet_income, :label => 'Income especial:', :collection => (200..2000).step(100) %>
<%= f.input :presence_to_influence, :label => 'Frota para presença máxima:', :collection => (1000..30000).step(100) %>
</div>
</td>
<td width=100>
<div class="fleet">
<h3>Geral</h3>
<%= f.input :editable_automatic_results, :label => 'Resultados automáticos alteráveis?', as: :radio %>
<%= f.input :maximum_warrior_life, :label => 'Jedi/Sith - Vidas máximas:', :collection => (5..20).step(5)  %>
</div>

</td></tr>
</table>
<center><%= f.submit 'Aplicar Alterações' %></center>
<% end %>
<div class="fleet">
<h2> Ferramentas de Reset e Start Game </h2>
<%= link_to 'Clique aqui', :controller => 'rounds', :action => 'index' %><br><br>
<a href = "/users/sign_out">Logout</a><br>
</div>
