<% @unit = @light_transport %>
<script>
refreshParent();
document.title = " <%= @unit.show %> "
</script>
<div class="fleet">
  <h2><%= @planet %></h2>
  <h3><%= @unit.show %>
     <% if @unit.moving %>
       <span style="color: #00FFFF">
          <%= ' --> ' + @unit.destination.name %>
       </span>
     <% end %>
  </h3>
</div>
<div class="fleet">
   Mover:<br><br>
   <table valign=center>
   <tr>
   <td><%= simple_form_for @unit, :url => url_for(:controller => 'generic_fleets', :action => 'move_one_fleet') do |f|%>
     <%= f.input :quantity, :collection => 1..@unit.quantity, :label => false if @unit.is_movable? && @unit.squad == @squad  %></td>
   <td><%= f.input :destination, :collection => @planet.routes(@unit), :disabled => false, :label => false if @unit.is_movable? && @unit.squad == @squad %></td>
   <td>
     <% unless @squad.ready? %>
       <%= submit_tag 'Mover' %>
     <% end %>
   </td>
   <td> </td>
   </tr></table>
   <% end %>
</div>  
<div class="fleet">
Unidades embarcadas (ou agrupadas para Raid Mission):
<table>
<% @carried_fleets.each do |fleet| %>
  <tr>
  <%= simple_form_for fleet, :url => url_for(:controller => 'light_transports', :action => 'unload_from') do |f| %>
    <td><span style=color:#<%= fleet.squad.color %>><%= fleet.show %></span></td>
    <td align=right>
        <% if fleet.type?(Warrior) || fleet.type?(Commander) || fleet.type?(CapitalShip) || fleet.type?(Facility) %>
          <%= f.input :quantity, :collection => fleet.quantity..fleet.quantity, :label => false %>
        <% else %>
          <%= f.input :quantity, :collection => 1..fleet.quantity, :label => false %>
        <% end %>
    </td>
        <%= f.hidden_field :id, :value => fleet.id %>
    <td><%= f.submit '>' %></td>
  <% end %>
  </tr>
<% end %>
</table>
</div>
<div class="fleet">
Embarcar unidades:
<table>
<% @carriable_fleets.each do |fleet| %>
  <tr>
  <%= simple_form_for fleet, :url => url_for(:controller => 'light_transports', :action => 'load_in') do |f| %>
    <td><span style=color:#<%= fleet.squad.color %>><%= fleet.show %></span></td>
    <td align=right>
        <% if fleet.type?(Warrior) || fleet.type?(Commander) || fleet.type?(CapitalShip) || fleet.type?(Facility) %>
          <%= f.input :quantity, :collection => fleet.quantity..fleet.quantity, :label => false %>
        <% else %>
          <%= f.input :quantity, :collection => 1..fleet.quantity, :label => false %>
        <% end %>
    </td>
        <%= f.hidden_field :id, :value => fleet.id %>
    <td><%= f.submit '<' %></td>
  <% end %>
  </tr>
<% end %>
</table>
Transporta: <%= @light_transport.heavy_loading_capacity %> caças / <%= @light_transport.light_loading_capacity %> troopers 
</div>
<div class="fleet">
    Warheads/Counters:<br><br>
    <table valign=center>
    <tr>
    <td>
    <%= simple_form_for @unit, :url => url_for(:controller => 'generic_fleets', :action => 'arm') do |f| %>
    <%= f.hidden_field :id %>
    <%= f.input :weapon1_id,
    :collection => @armaments,
    :label_method => :show,
    :value_method => :id,
    :as => :radio,
    :label => false %>
    </td>
    <td></td>
    </tr>
    <tr>
    <td><%= f.submit 'Armar' %>
    <% end %>
    </td>
    <td align=left>
    <%= simple_form_for @unit, :url => url_for(:controller => 'generic_fleets', :action => 'disarm') do |f| %>
      <%= f.hidden_field :id %>
      <%= f.submit 'Desarmar' %>
    <% end %>
    </td>
    </tr>
    </table>
Armar: carrega o grupo com o armamento selecionado<br>
Desarmar: descarrega o armamento do grupo<br>
</div>
