<script>
  refreshParent();
  document.title = " Setup do Squad "
 </script>

<div class="fleet">
<h2> Setup do Squad </h2>

<%= simple_form_for @squad do |f| %>

	<%= f.input :name, :label => 'Nome: ', :input_html => { :size => 10 } %>
	<%= f.input :color, :collection => @colors, :label => 'Cor: ' %>
	<%= f.input :url, :label => 'Url: ', :input_html => { :size => 38 }, :placeholder => 'http://' %>
	<%= f.input :map_ratio, :label => 'Tamanho do mapa (%):', :collection => (70..130).step(5) %>
	<%= f.input :map_background, :label => 'Mapa com background? ', as: :radio %><br>
	<%= f.input :ai, :label => ' Ativar modo AI?', as: :boolean %>
	<%= f.input :ai_level, :collection => 1..6, :label => 'AI Level:' %> 
	<br>
	<%= f.submit 'Salvar' %>

<% end %>
</div>
