<script>
  refreshParent();
  document.title = " Setup do Squad "
 </script>

<div class="fleet">
<h2> Setup do Squad </h2>
</div>

<%= simple_form_for @squad do |f| %>

<div class="fleet">
<%= f.input :name, :label => 'Nome: ', :input_html => { :size => 10 } %>
<%= f.input :color, :collection => @colors, :label => 'Cor: ' %>
<%= f.input :url, :label => 'Url: ', :input_html => { :size => 38 }, :placeholder => 'http://' %>
<%= f.input :map_ratio, :label => 'Tamanho do mapa (%):', :collection => (90..150).step(10) %>
<%= f.input :map_background, :label => 'Mapa com background? ', as: :radio %><br><br><br>
<%= f.submit 'Salvar' %>
</div>
<% end %>
