<script>
 refreshParent();
document.title = "Construir em <%= @planet.name %>"
</script>
<script>
setTimeout("location.href = '/planets/<%= @planet.id %>/facility_fleets/new';",7000);
</script>
<div class = "fleet">
<h2> <%= @planet.name %> </h2>
<span style=color:#<%= @squad.color %>>
<% if @success == true %>
  <%= @quantity %> <%= @facility.name %> construída / comprada com sucesso!<br><br>
  Custo da operação: <%= @facility.price * @quantity %><br>
  Aguarde a atualização do mapa...
<% else %>
  Não há créditos suficientes para construir <%= @quantity %> <%= @facility.name %><br>
  Aguarde a atualização do mapa...
<% end %>
</span>
</div>
